<h1>Polls Listing</h1>
{% if question_list %}
    <ul>
    {% for question in question_list %}
        
    <li>
        <a href="{% url 'polls:details' question.id %}">
            {{question.question_text}}
        </a>
    </li>
        
    {% endfor %}
    </ul>

{% else %}
    <strong>No Polls Yet!</strong>
{% endif %}
